.nav {
    grid-area: nav;
    background: #66ccff;
    border-radius: 10px 10px 0px 0px;
    margin-right: 5px;
    padding: 20px;
}

.item {
    padding-bottom: 10px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: brown;
}

.avatar {
    display: flex;
}

.avatar img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    border-radius: 50%;
} 